{% extends "base.html" %}
{% block title %}Games{% endblock %}
{% block content %}
    <h1>Games List</h1>
    <table>
        <thead>
            <th>Game</td>
            <th>Date</td>
            <th>Players</td>
            <th>Winner</td>
            <th>RPS</td>
        </thead>
        <tbody>
            <tr>
                <td>Catan</td>
                <td>2024-03-24</td>
                <td>Shane, Brea</td>
                <td>Shane</td>
                <td>Brea</td>
            </tr>
            <tr>
                <td>Chess</td>
                <td>2024-06-22</td>
                <td>Shane, Brea</td>
                <td>Shane</td>
                <td>Brea</td>
            </tr>
            <tr>
                <td>Power Hungry Pets</td>
                <td>2024-12-13</td>
                <td>Shane, Brea, Zach, Owen</td>
                <td>Owen</td>
                <td>None</td>
            </tr>
        </tbody>
    </table>
{% endblock %}