{% extends "base.html" %}
{% from 'bootstrap5/form.html' import render_form %}

{% block title %}Boardgame Tracker{% endblock %}

{% block content %}
    <h1>Boardgame Tracker</h1>
    {{ render_form(form) }}
    <button>Add New Game</button>
    <h2>Games History</h2>
    <table>
        <thead>
            <th>Game</td>
            <th>Date</td>
            <th>Players</td>
            <th>Winner</td>
            <th>RPS</td>
        </thead>
        {% for game in games %}
            <tr>
                <td>{{ game.name }}</td>
                <td>{{ game.date }}</td>
                <td>{{ game.players }}</td>
                <td>{{ game.winner }}</td>
                <td>{{ game.rps }}</td>
            </tr>
        {% endfor %}
        <tbody>
            <!-- TODO: add for loop of table data -->
        </tbody>
    </table>
{% endblock %}